/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Titillium+Web:wght@200&family=VT323&display=swap');

/* ENTER PAGE */

body {
	margin: 0;
	padding: 0;
}

#enterPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('assets/tvglitch.gif');
	background-size: cover;
	background-position: center;
	height: 100vh;

}

#enterTitle {
	font-family: 'Montserrat',sans-serif;
	font-size: 60px;
	color: white;
	background-color: black;
}

#enterPage .button {
	font-size: 40px;
	color: black;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px 20px;
}

#enterPage .button:hover {
	color: rgb(148, 0, 211, 1.0);
}

/* HOME-PAGE */

#backgroundContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('assets/tvglitch2.gif');
	background-size: cover;
	background-position: center;
}

#eyeballHeader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25vh;
	padding: 20px;
}

#videoContainer {
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

#videoElement {
	height: 100vh;
	width: 100vw;
	margin: 0 auto;

}

#textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('assets/tvglitch3.gif');
	background-size: cover;
	background-position: center;

}

#textHeader {
	display: block;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
	background-color: black;
}

#textParagraph {
	display: block;
	font-size: 40px;
	font-family: 'VT323', monospace;
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	margin: 5;
}

#footer {
	display: block;
	height: 25vh;
	padding: 20px;
}

.videos {
	display: grid;
	grid-template-columns: repeat(2,minmax(0,1fr));
	gap: 0.5rem;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#gif {
	width: 700px;
	height: 500px;
	margin: 0 auto;
}

/* WE LIVE IN PUBLIC */

.photoGrid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.slides { 
	width: 400px;
	height:300px;
}

#commentary {
	font-family: 'Montserrat',sans-serif;
	font-size: 60px;
	color: white;
	background-color: black;
	text-align: center;
	margin: 10px auto;
}

/* BIG BROTHER */

#mainImage {
	width: 1200px;
	height: 800px;
}

#photoGrid2 {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}